* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  padding: 100px;
  width: 900px;
  margin: 0 auto;
  height: 900px;
}

.game-box {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
}

.choices {
  margin-top: 100px;
}

.choices h4 {
  padding-bottom: 30px;
}

.choices h4 span {
  font-size: 13px;
  color: gray;
}

.title {
  padding-bottom: 20px;
}

.rock-paper-scissors-icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all 0.2s;
}

.rock-paper-scissors-icon:hover {
  scale: 1.1;
}

.score-text {
  font-size: 100px;
}

.rock-default {
  display: none;
}

.play-again {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  display: none;
}
